@media (min-width: 1000px) {
  .menu__overlay {
    position: absolute;
    display: block;
    width: 390px;
    height: 390px;
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
    opacity: 0;
    transition: .16s;
    background: url('../assets/img/sequence/seq_1.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .menu__overlay--visible {
    opacity: 1;
  }

  .overlay__curtain {
    width: 100%;
    height: 50%;
    background: $bgcolor;
    display: block;
    opacity: 1;
    transition: .1s ease-in .1s;
  }

  .overlay__curtain--up {
    transform: translateY(-100%);
  }

  .overlay__curtain--down {
    transform: translateY(100%);
  }



  .menu__items {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
  }

  .items__item {
    margin: 0;
    position: relative;
    z-index: 100;
  }

  .heroimage {
    justify-content: center;
    align-items: flex-end;
  }

  .heroimage__text {
    position: relative;
    right: 150px;
    margin: 0;
    width: 180px;
    text-align: left;

    h1 {
      @include textspace(25px, 1.2);
    }

    p {
      @include textspace(14px, 1.4);
    }
  }
}

@media (min-width: 1400px) {
  .menu__items {
    width: 50%;
  }

  .heroimage__text {
    right: 250px;
    width: 200px;

    h1 {
      @include textspace(30px, 1.2);
    }

    p {
      @include textspace(16px, 1.4);
    }
  }
}